*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
model/__pycache__/
*.py[cod]
model/*.py[cod]
*$py.class
model/*$py.class

# C extensions
*.so
model/*.so

# Distribution / packaging
.Python
model/.Python
build/
model/build/
develop-eggs/
model/develop-eggs/
dist/
model/dist/
downloads/
model/downloads/
eggs/
model/eggs/
.eggs/
model/.eggs/
lib/
model/lib/
lib64/
model/lib64/
parts/
model/parts/
sdist/
model/sdist/
var/
model/var/
wheels/
model/wheels/
share/python-wheels/
model/share/python-wheels/
*.egg-info/
model/*.egg-info/
.installed.cfg
model/.installed.cfg
*.egg
model/*.egg
MANIFEST
model/MANIFEST

# PyInstaller
*.manifest
model/*.manifest
*.spec
model/*.spec

# Installer logs
pip-log.txt
model/pip-log.txt
pip-delete-this-directory.txt
model/pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
model/htmlcov/
.tox/
model/.tox/
.nox/
model/.nox/
.coverage
model/.coverage
.coverage.*
model/.coverage.*
.cache
model/.cache
nosetests.xml
model/nosetests.xml
coverage.xml
model/coverage.xml
*.cover
model/*.cover
*.py,cover
model/*.py,cover
.hypothesis/
model/.hypothesis/
.pytest_cache/
model/.pytest_cache/
cover/
model/cover/

# Translations
*.mo
model/*.mo
*.pot
model/*.pot

# Django stuff
*.log
model/*.log
local_settings.py
model/local_settings.py
db.sqlite3
model/db.sqlite3
db.sqlite3-journal
model/db.sqlite3-journal

# Flask stuff
instance/
model/instance/
.webassets-cache
model/.webassets-cache

# Scrapy stuff
.scrapy
model/.scrapy

# Sphinx documentation
docs/_build/
model/docs/_build/

# PyBuilder
.pybuilder/
model/.pybuilder/
target/
model/target/

# Jupyter Notebook
.ipynb_checkpoints
model/.ipynb_checkpoints

# IPython
profile_default/
model/profile_default/
ipython_config.py
model/ipython_config.py

# pyenv
__pypackages__/
model/__pypackages__/

# Celery stuff
celerybeat-schedule
model/celerybeat-schedule
celerybeat.pid
model/celerybeat.pid

# SageMath parsed files
*.sage.py
model/*.sage.py

# Environments
.env
model/.env
.venv
model/.venv
env/
model/env/
venv/
model/venv/
ENV/
model/ENV/
env.bak/
model/env.bak/
venv.bak/
model/venv.bak/

# Spyder project settings
.spyderproject
model/.spyderproject
.spyproject
model/.spyproject

# Rope project settings
.ropeproject
model/.ropeproject

# mkdocs documentation
/site
model/site

# mypy
.mypy_cache/
model/.mypy_cache/
.dmypy.json
model/.dmypy.json
dmypy.json
model/dmypy.json

# Pyre type checker
.pyre/
model/.pyre/

# pytype static type analyzer
.pytype/
model/.pytype/

# Cython debug symbols
cython_debug/
model/cython_debug/

# PyCharm
.idea/
